/*-XX-XX---------XX-XX- SHARED ON ALL PAGES -XX-XX---------XX-XX-*/
html { 
    position: relative;
}
header { 
    width: 100%;
    height: auto;
    border-bottom: 2px #cccccc solid;
    background-color: #ffffff;
    margin: 0 auto;
}
.heading {
    width: 960px;
    margin: 0 auto;
}
/*-- NAME BLOCKS --*/
.me {
    display: inline-block;
	font-family: 'Georgia', Times, 'Times New Roman', serif;   font-weight: bold;
	font-size: 30px;
    letter-spacing: 2px;
	background-color: #4aaaa5;
	color: #ffffff;
	padding: 20px;
    width: auto;
}
.andrew {
    display: inline-block;
    vertical-align: middle;
    width: 35%;
    margin: 0;
    padding: 0;
    text-align: center;
}
/*-- NAVBARS --*/
.links {
    display: inline-block;
    vertical-align: middle;
    font-weight: normal;
    text-align: right;
    width: 49%;
    margin: 0;
    padding: 0;
	color: #b1adb3;
}
.links ul li {
	display: inline-block;
    margin-left: 10px;
    padding-left: 10px;
}
.links ul li a {
	color: #b1adb3;
	text-decoration: none;	
}
.links ul li a:hover {
	color: #4aaaa5;
}
.links ul li a.active {
	color: #000000;
}
.links ul li+li {
	border-left: 1px solid #cccccc;
}
/*-- PAGE ATTRIBUTES --*/
body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("/assets/images/qbkls.png");
    color: #777777;
}
/*-- TITLES --*/
.divheader {
    width: 960px;
    margin: 0 auto;
    padding: 10px;
    }
.pagename {
    display: inline-block;
	width: 875px;
	margin: 20px 0;
	padding: 20px;
	background-color: #ffffff;
	border: 1px solid #dddddd;
}
.pagename h1 {
    color: #4aaaa5;
    font-family: 'Georgia', 'Times New Roman', Times, serif;
    font-size: 30px;
	font-weight: bold;
	padding-bottom: 20px;
	margin-bottom: 16px;
	border-bottom: 2px solid #dddddd;
}
/*-- FOOTERS --*/
footer {
	left: 0;
	bottom: 0;
	width: 100%;
	padding: 40px;
	text-align: center;
	font-size: 15px;
	color: #cccccc;
	background-color: #666666;
    border-top: 5px solid #4aaaa5;
}

/*-XX-XX---------XX--XX- ABOUT ME PAGE -XX-XX---------XX-XX-*/
img.selfie {
    width: 200px;
    float: left;
    margin-right: 20px;
    margin-left: 0px;
}
p.text {
    width: 860px;
    font-size: 18px;
    padding-top: 10px;
    line-height: 30px;
}

/*-XX-XX---------XX--XX- PORTFOLIO PAGE -XX-XX---------XX-XX-*/
.scratch {
    position: relative;
    display: inline-block;
    margin: auto 10px auto 10px;
    text-align: center;
}
.scratch img {
    width: 270px;
    height: 200px;
}
.scratch h2 {
    text-align: center;
    text-decoration: none;
	background-color: #4aaaa5;
	padding: 10px;
	color: #ffffff;
}
.scratch a {
    text-decoration: none;
}

/*-XX-XX---------XX--XX- CONTACT ME PAGE -XX-XX---------XX-XX-*/
.contact {
    width: 500px;
}
.contact label {
    display: block;
    padding-bottom: 10px;
}
.contact input, .contact textarea {
    width: 165%;
    border: 1px solid #cccccc;
    margin-bottom: 20px;
    padding: 10px;
    font-size: 12px;
}
.contact input[type="submit"] {
    width: auto;
    background-color: #4aaaa5;
    color: #ffffff;
    border: none;
    padding: 25px;
    font-size: 20px;
}